@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Anton", sans-serif;
  font-family: "Roboto", sans-serif;
}
